body {
  font-family: sans-serif;
  margin: 0;
  background-color: #e84749;
  background-image: url("https://cdn.dribbble.com/users/1363206/screenshots/5497614/pokedex_dribbble-01_4x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/********************************** header *********************/
#header {
  padding-top: 5px;
  background-color: red;
}

/********************************** title *********************/
h1,
h2,
h4 {
  text-align: center;
}

/********************************** nav *********************/
.navbar-item:hover {
  font-weight: bold;
}

#nav {
  display: grid;
  grid-template: auto/repeat(4, 25%);
  grid-gap: 3px;
  background: yellow;
}

#nav :first-child {
  margin-left: 2px;
}

.navbar-item {
  background-color: red;
  padding-left: 5px;
}

/********************************** something *********************/
#grid {
  display: grid;
  opacity: 0.9;
  grid-template: repeat(50, 200px) / repeat(3, 1fr);
  grid-gap: 5px;
  height: auto;
  margin-top: 25px;
  background-color: #afeeee;
}

#pokemon-item {
  height: 97%;
  border-radius: 25px;
  border: 1px solid black;
  text-align: center;
  background-color: #5f9ea0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9), 0 1px 4px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  /* margin: 0 auto;/ */
}
